<section>
    <div class="logo-container">
        Logo
    </div>
    <div class="search-container">
       <input id="search" type="text" placeholder="code learning durchsuchen"><mat-icon class="icon">search</mat-icon>  <!-- placeholder muss dynamisch werden -->
    </div>
    <div class="current-user-container">
        Frederick Beck
        <div class="user-image-container">
            <img src="./assets/img/user.jpg">
        </div>
        <div class="dropdownMenu-Container">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="dropdownMenu">
                <mat-icon>arrow_drop_down</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>logout</mat-icon>
                  <span>Logout</span>
                </button>
              </mat-menu>
        </div>
    </div>
</section>