<!-- <div class="blueScreen">
    <div class="blueScreenLogo">Logo</div>
</div> -->
<section>
    <mat-toolbar class="toolbar-header">
        <span><img src=""></span>
        <span>
            <p>Neu bei DaBubble?</p>
            <a routerLink="register">Konto erstellen</a>
        </span>
    </mat-toolbar>

    <mat-card class="login-container">
        <mat-card-content class="login-title">Anmeldung</mat-card-content>
        <p>
            Wir empfehlen dir, die E-Mail Adresse zu nutzen, die <br /> du bei der Arbeit verwendest.
        </p>
        <form>
            <div class="input-container">
                <div class="input-background">
                    <mat-icon fontIcon="mail" class="leftIcon"></mat-icon>
                    <input name="email" id="email" [(ngModel)]="email" autocomplete="email"
                        placeholder="beispielname@email.com" required>
                </div>
                <div class="input-background">
                    <mat-icon fontIcon="lock" class="leftIcon"></mat-icon>
                    <input name="password" id="password" [(ngModel)]="password" [type]="generalService.passwordType" placeholder="Passwort"
                        required>
                    <mat-icon fontIcon="visibility" class="showHidePassword" (click)="showHidePassword();"></mat-icon>
                </div>

                <span class="pwForgotten" routerLink="/passwortForgotten">Passwort vergessen?</span>
            </div>

            <div class="divider-container">
                <div class="h-line"></div>
                <div>ODER</div>
                <div class="h-line"></div>
            </div>

            <div class="login-google">
                <div class="input-google-container input-google cursor-pointer">
                    <img src="">
                    Anmeldung mit Google
                </div>
            </div>

            <div class="button-container">
                <button class="login-button" mat-flat-button (click)="login()">Anmelden</button>
                <button class="guest-login-button" mat-flat-button routerLink="/dashboard/Gastzugang">Gäste-Login</button>
            </div>
        </form>
    </mat-card>

    <mat-toolbar class="toolbar-footer">
        <span>
            <a href="">Impressum</a>
            <a href="">Datenschutz</a>
        </span>
    </mat-toolbar>
</section>

@if (emailOrPasswordWrong){
<div class="emailOrPasswirdWrong-Container">
    <div>
        <h1>Die eingegebene E-Mail Adresse oder das eingegebene Passwort waren fehlerhaft oder noch nicht vorhanden.
        </h1>
        <h2>Bitte überprüfen Sie Ihre Eingaben, oder registrieren Sie sich über den Button "Konto erstellen".</h2>
    </div>
</div>
}