<div class="blueScreen"></div>
<div class="blueScreenLogo">Logo</div>
<section>
    <mat-toolbar class="toolbar-header">
        <span><img src=""></span>
        <span>
            <p>Neu bei DaBubble?</p>
            <a href="">Konto erstellen</a>
        </span>
    </mat-toolbar>

    <mat-card class="login-container">
        <mat-card-content class="login-title">Anmeldung</mat-card-content>
        <p>
            Wir empfehlen dir, die E-Mail Adresse zu nutzen, die <br /> du bei der Arbeit verwendest.
        </p>
        <div class="input-container">
            <div class="input-background">
                <mat-icon fontIcon="mail"></mat-icon>
                <input id="email" class="loginInput" autocomplete="email" placeholder="beispielname@email.com">
            </div>
            <div class="input-background">
                <mat-icon fontIcon="lock"></mat-icon>
                <input id="password" class="loginInput" type="password" placeholder="Passwort">
            </div>
            <a href="">Passwort vergessen?</a>
        </div>

        <div class="divider-container">
            <div class="h-line"></div>
            <div>ODER</div>
            <div class="h-line"></div>
        </div>

        <div class="login-google">
            <div class="input-background input-google cursor-pointer">
                <img src="">
                Anmeldung mit Google
            </div>
        </div>

        <div class="button-container">
            <button class="login-button" mat-flat-button>Anmelden</button>
            <button class="guest-login-button" mat-flat-button routerLink="/dashboard">Gäste-Login</button>
        </div>

    </mat-card>



    <mat-toolbar class="toolbar-footer">
        <span>
            <a href="">Impressum</a>
            <a href="">Datenschutz</a>
        </span>
    </mat-toolbar>
</section>