<section>
    <div class="headline-container">
        <div class="headline-image">
            <img src="./assets/img/user.jpg">
        </div>
        <div class="headline">
            Code learning
        </div>
        <div class="changeName">
            <mat-icon class="editName">edit_square</mat-icon>
        </div>
    </div>
    <div class="channels-container">
        <div class="channels">
            <div class="channel-header">
                <mat-icon class="dropdown">arrow_drop_down</mat-icon>
                <mat-icon>workspaces</mat-icon>
                <div>
                    Channels
                </div>
            </div>
            <div class="add">
                <mat-icon>add</mat-icon>
            </div>
        </div>
        <div class="createdChannels">
            # Entwicklerteam
        </div>
        <div class="addChannel">
            <mat-icon>add_circle</mat-icon>
            Channel hinzufügen
        </div>
    </div>

    <div class="direct-messages-container">
        <div class="messages-header">
            <mat-icon class="dropdown">arrow_drop_down</mat-icon>
            <mat-icon>account_circle</mat-icon>
            <div>
                Direktnachrichten
            </div>
        </div>
        <div class="members">
            <div>
                <div class="memberImage">
                    <img src="./assets/img/user.jpg">
                </div>
                <div class="memberName">
                    Frederik Beck (Du)
                </div>
            </div>
            <div>
                <div class="memberImage">
                    <img src="./assets/img/user.jpg">
                </div>
                <div class="memberName">
                    Sofia Müller
                </div>
            </div>
            <div>
                <div class="memberImage">
                    <img src="./assets/img/user.jpg">
                </div>
                <div class="memberName">
                    Noah Braun
                </div>
            </div>
        </div>
    </div>

</section>