<section>
    <div class="content">
        <h1>Passwort vergessen?</h1>
        <p>Um sicherzustellen, dass es sich wirklich um Ihre E-Mail Adresse handelt, müssen Sie unterhalb bitte die
            Vornamen und den Nachnamen eingeben,<br /> welche zu dem abgefragten Konto gehören. </p>
        <div class="input-container">
            Bitte geben Sie hierzu zunächst Ihre E-Mail Adresse ein:
            <br />
            <br />
            <div class="input-background">
                <mat-icon fontIcon="mail"></mat-icon>
                <input name="email" id="email" [(ngModel)]="email" autocomplete="email"
                    placeholder="beispielname@email.com" required (input)="checkInput(email)"
                    [disabled]="MailInputDisabled">
            </div>
            @if(!displayfurtherQuestions){
            <button class="login-button" mat-flat-button (click)="getEmailFromFirebase()"
                [ngClass]="{'disabledButton': buttonDisabled}">weiter</button>
            }
            @if(displayfurtherQuestions){
            Bitte geben Sie nachfolgende die weiteren Daten zu dem oben angegebenen Account ein.
            <br />
            <br />
            <div class="input-background">
                <mat-icon fontIcon="badge"></mat-icon>
                <input name="name" id="name" [(ngModel)]="name" autocomplete="name" placeholder="Vorname" required
                    (input)="checkInput(name)" [disabled]="nameInputDisabled">
            </div>
            @if(!displayfurtherQuestions2){
            <button class="login-button" mat-flat-button (click)="getNameFromFirebase()"
                [ngClass]="{'disabledButton': buttonDisabled}">weiter</button>
            }
            @if(displayfurtherQuestions2){
            <div class="input-background">
                <mat-icon fontIcon="badge"></mat-icon>
                <input name="nachname" id="nachname" [(ngModel)]="nachname" autocomplete="nachname"
                    placeholder="Nachname" required (input)="checkInput(nachname)" [disabled]="nachnameInputDisabled">
            </div>
            @if(!displayNewPasswordInputs){
            <button class="login-button" mat-flat-button (click)="getnachnameFromFirebase()"
                [ngClass]="{'disabledButton': buttonDisabled}">weiter</button>
            }
            }
            @if(displayNewPasswordInputs){
            <div class="input-background">
                <mat-icon fontIcon="password"></mat-icon>
                <input name="password" id="password" type="password" [(ngModel)]="password" autocomplete="password"
                    placeholder="password" required (input)="checkInput(password)">
            </div>
            <div class="input-background">
                <mat-icon fontIcon="password"></mat-icon>
                <input name="repeatedPassword" id="repeatedPassword" type="password" [(ngModel)]="repeatedPassword"
                    autocomplete="repeatedPassword" placeholder="Passwort wiederholen" required
                    (input)="checkInput(repeatedPassword)">
            </div>
            <button class="login-button" mat-flat-button [ngClass]="{'disabledButton': buttonDisabled}"
                (click)="updatePassword()">neues Passwort
                speichern</button>
            }
            }
            <!-- 
                stimmt beides mit den Daten in der Datenbank überein, dann Abfrage nach neuem Passwort + zweite Eingabe des neuen PW um Schreibfehler zu vermeiden.
                Dann Update des neuen PW in der Datenbank + Weiterleitung zur Login-Seite.
            -->
        </div>
    </div>
</section>

@if(displayError){
<div class="errorMessage">
    <div>
        {{ErrorMessage}}
    </div>
</div>
}