<section>
    <div class="content">
        <h1>Passwort vergessen?</h1>
        <p>Um sicherzustellen, dass es sich wirklich um Ihre E-Mail Adresse handelt, müssen Sie unterhalb bitte die Vornamen und den Nachnamen eingeben,<br/> welche zu dem abgefragten Konto gehören. </p>
        <div class="input-container">
            Bitte geben Sie hierzu zunächst Ihre E-Mail Adresse ein:
            <br/>
            <br/>
            <div class="input-background">
                <mat-icon fontIcon="mail"></mat-icon>
                <input name="email" id="email" [(ngModel)]="email" autocomplete="email"
                    placeholder="beispielname@email.com" required>
            </div>
            <button class="login-button" mat-flat-button>weiter</button>
        </div>
    </div>
</section>