<section>
    <div class="content">
        <h1>Passwort vergessen?</h1>
        <p>Um sicherzustellen, dass es sich wirklich um Ihre E-Mail Adresse handelt, müssen Sie unterhalb bitte die Vornamen und den Nachnamen eingeben,<br/> welche zu dem abgefragten Konto gehören. </p>
        <div class="input-container">
            Bitte geben Sie hierzu zunächst Ihre E-Mail Adresse ein:
            <br/>
            <br/>
            <div class="input-background">
                <mat-icon fontIcon="mail"></mat-icon>
                <input name="email" id="email" [(ngModel)]="email" autocomplete="email"
                    placeholder="beispielname@email.com" required>
            </div>
            <button class="login-button" mat-flat-button (click)="getEmailFromFirebase()">weiter</button>

            <!-- 
                nach push auf weiter abfrage nach name und nachname
                stimmt beides mit den Daten in der Datenbank überein, dann Abfrage nach neuem Passwort + zweite Eingabe des neuen PW um Schreibfehler zu vermeiden.
                Dann Update des neuen PW in der Datenbank + Weiterleitung zur Login-Seite.
            -->
        </div>
    </div>
</section>